<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alojamiento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="/assets/hotel.jpg"></ion-img>
          <ion-label>
            <br>
            <h2>Habitacion individual en casa familiar</h2>
            <h3>Luis Doe</h3>
            <p>Barrio San Isidro</p>
          </ion-label>
          <ion-chip>
            <ion-icon name="bed-outline"></ion-icon>
            <ion-label>Cama doble</ion-label>
          </ion-chip>
          <ion-chip>
            <ion-icon name="color-fill-outline"></ion-icon>
            <ion-label>Baño interno</ion-label>
          </ion-chip> <br>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          <br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <ion-chip color="success">
            <ion-icon name="logo-usd"></ion-icon>
            <ion-label>$ 400.000 MES</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="4">
          <ion-button style="float: right;" expand="block" color="light" [routerLink]="type == 1 ? ['/user/finder'] : ['/client/posts']">Regresar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="type == 1">
          <ion-button expand="block" color="primary" [routerLink]="['/user/new-contract']">
            <ion-icon slot="start" name="reader-outline"></ion-icon> Contratar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
